In [1]:
%load_ext sql
%sql mysql+pymysql://root:d9982951@localhost/IBM_world

# create random key

In [4]:
%%sql
    SET @key_str = SHA2('Mt secret passphrase', 512);

 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.

[]

In [5]:
%%sql
    select @key_str

 * mysql+pymysql://root:***@localhost/IBM_world
1 rows affected.

[('b7a0450127c2a83bd0925f5389a7ab5537228f2c566613b7c622f3e70d8b7dda0c670ee5cc7f2cc8b5e59dda734a0cba6fa8aa34c6203084294576755a2ed2ae',)]

## target to ibm_world.countrylanguage

In [6]:
%%sql
    use IBM_world;

 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.

[]

In [7]:
%%sql
    SELECT *
    FROM countrylanguage
    LIMIT 5;

 * mysql+pymysql://root:***@localhost/IBM_world
5 rows affected.

[('ABW', 'Dutch', 'T', Decimal('5.3')),
 ('ABW', 'English', 'F', Decimal('9.5')),
 ('ABW', 'Papiamento', 'F', Decimal('76.7')),
 ('ABW', 'Spanish', 'F', Decimal('7.4')),
 ('AFG', 'Balochi', 'F', Decimal('0.9'))]

## set encrypt, focus on percentage column

To encrypt the Percentage column, we will first want to convert the data in the column into binary byte strings of length 255

In [8]:
%%sql
    ALTER TABLE countrylanguage MODIFY COLUMN Percentage varbinary(255);

 * mysql+pymysql://root:***@localhost/IBM_world
965 rows affected.

[]

Now to actually encrypt the Percentage column, we use the AES encryption standard and our hashed passphrase

In [9]:
%%sql
    UPDATE countrylanguage SET Percentage = AES_ENCRYPT(Percentage, @key_str);

 * mysql+pymysql://root:***@localhost/IBM_world
965 rows affected.

[]

    #now test query countrylanguage

In [10]:
%%sql
    SELECT *
    FROM countrylanguage
    LIMIT 5

 * mysql+pymysql://root:***@localhost/IBM_world
5 rows affected.

[('ABW', 'Dutch', 'T', b'\x88\xfb\x8d8!m\xceJ\xa4\xa4\xa4=\xab\x12P\xa0'),
 ('ABW', 'English', 'F', b'VY\x0e\xab\xf1\xebD\xb1J\xdb=\xe3\x1e\xe1\x1f\xe7'),
 ('ABW', 'Papiamento', 'F', b'\xe5\xf1\x8b\xe0%\xb4Ig\xf9s{\\\x13\x8a\xc7\x92'),
 ('ABW', 'Spanish', 'F', b'\xa9x\xfb\xdfB9\xa4|\x93\x01\x9f\xf1J\x00-\xb1'),
 ('AFG', 'Balochi', 'F', b'\n\x9f\xcf3i\xbd\x96\x95\xdfd\xe6\xb2\x17\xd6M4')]

    #the percentage value hide with code
    #if we need see whole view
        we can de decrypt
            decrypt code into *char(255)*

In [13]:
%%sql
    SELECT cast(AES_DECRYPT(Percentage, @key_str) AS char(255))
    FROM countrylanguage
    LIMIT 5;

 * mysql+pymysql://root:***@localhost/IBM_world
5 rows affected.

[('5.3',), ('9.5',), ('76.7',), ('7.4',), ('0.9',)]