# Objectives

    1. Describe common reasons for slow queries in MySQL
    2. Identify the reason for your query's performance with the EXPLAIN statement
    3. Improve your query's performance with indexes and other best practices

In [1]:
%load_ext sql
%sql mysql+pymysql://root:d9982951@localhost/IBM_world

In [2]:
%%sql
    use IBM_world;
    show tables;

 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.
5 rows affected.

[('city',),
 ('country',),
 ('countrylanguage',),
 ('csv_test',),
 ('myisam_test',)]

In [7]:
%%sql
    SET profiling = 1;
    
    select *
    from country;
    
    SHOW PROFILES;

 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.
237 rows affected.
3 rows affected.

[(1, 0.000659, 'commit'),
 (2, 0.001309, 'select *\n    from country'),
 (3, 8.6e-05, 'commit')]

In [8]:
%%timeit -r3 -n3 
%%sql 
    select * 
    from country;

 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
 * mysql+pymysql://root:***@localhost/IBM_world
237 rows affected.
11.4 ms ± 2.96 ms per loop (mean ± std. dev. of 3 runs, 3 loops each)