In [2]:
!pip -q install PyMySQL

In [1]:
%load_ext sql

%sql mysql+pymysql://root:password@localhost/database

In [8]:
%sql mysql+pymysql://root:d9982951@localhost/IBM_world

# get info in information_schema

    #find where db place

In [14]:
%%sql
    show databases

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
7 rows affected.

[('information_schema',),
 ('IBM_coffee',),
 ('IBM_world',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [15]:
%sql use information_schema

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.

[]

#the table:TABLE in here

In [16]:
%sql show tables

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
61 rows affected.

[('CHARACTER_SETS',),
 ('COLLATIONS',),
 ('COLLATION_CHARACTER_SET_APPLICABILITY',),
 ('COLUMNS',),
 ('COLUMN_PRIVILEGES',),
 ('ENGINES',),
 ('EVENTS',),
 ('FILES',),
 ('GLOBAL_STATUS',),
 ('GLOBAL_VARIABLES',),
 ('KEY_COLUMN_USAGE',),
 ('OPTIMIZER_TRACE',),
 ('PARAMETERS',),
 ('PARTITIONS',),
 ('PLUGINS',),
 ('PROCESSLIST',),
 ('PROFILING',),
 ('REFERENTIAL_CONSTRAINTS',),
 ('ROUTINES',),
 ('SCHEMATA',),
 ('SCHEMA_PRIVILEGES',),
 ('SESSION_STATUS',),
 ('SESSION_VARIABLES',),
 ('STATISTICS',),
 ('TABLES',),
 ('TABLESPACES',),
 ('TABLE_CONSTRAINTS',),
 ('TABLE_PRIVILEGES',),
 ('TRIGGERS',),
 ('USER_PRIVILEGES',),
 ('VIEWS',),
 ('INNODB_LOCKS',),
 ('INNODB_TRX',),
 ('INNODB_SYS_DATAFILES',),
 ('INNODB_FT_CONFIG',),
 ('INNODB_SYS_VIRTUAL',),
 ('INNODB_CMP',),
 ('INNODB_FT_BEING_DELETED',),
 ('INNODB_CMP_RESET',),
 ('INNODB_CMP_PER_INDEX',),
 ('INNODB_CMPMEM_RESET',),
 ('INNODB_FT_DELETED',),
 ('INNODB_BUFFER_PAGE_LRU',),
 ('INNODB_LOCK_WAITS',),
 ('INNODB_TEMP_TABLE_INFO',),
 ('INNODB_SYS_INDEXES',),
 ('INNODB_SYS_TABLES',),
 ('INNODB_SYS_FIELDS',),
 ('INNODB_CMP_PER_INDEX_RESET',),
 ('INNODB_BUFFER_PAGE',),
 ('INNODB_FT_DEFAULT_STOPWORD',),
 ('INNODB_FT_INDEX_TABLE',),
 ('INNODB_FT_INDEX_CACHE',),
 ('INNODB_SYS_TABLESPACES',),
 ('INNODB_METRICS',),
 ('INNODB_SYS_FOREIGN_COLS',),
 ('INNODB_CMPMEM',),
 ('INNODB_BUFFER_POOL_STATS',),
 ('INNODB_SYS_COLUMNS',),
 ('INNODB_SYS_FOREIGN',),
 ('INNODB_SYS_TABLESTATS',)]

#view TABLE contents using SELECT

In [19]:
%%sql
    SELECT *
    FROM TABLES
    LIMIT 3

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
3 rows affected.

[('def', 'information_schema', 'CHARACTER_SETS', 'SYSTEM VIEW', 'MEMORY', 10, 'Fixed', None, 384, 0, 16434816, 0, 0, None, datetime.datetime(2022, 12, 26, 12, 55, 20), None, None, 'utf8_general_ci', None, 'max_rows=43690', ''),
 ('def', 'information_schema', 'COLLATIONS', 'SYSTEM VIEW', 'MEMORY', 10, 'Fixed', None, 231, 0, 16704765, 0, 0, None, datetime.datetime(2022, 12, 26, 12, 55, 20), None, None, 'utf8_general_ci', None, 'max_rows=72628', ''),
 ('def', 'information_schema', 'COLLATION_CHARACTER_SET_APPLICABILITY', 'SYSTEM VIEW', 'MEMORY', 10, 'Fixed', None, 195, 0, 16357770, 0, 0, None, datetime.datetime(2022, 12, 26, 12, 55, 20), None, None, 'utf8_general_ci', None, 'max_rows=86037', '')]

# create table by engines

In [20]:
%sql use IBM_world

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.

[]

In [23]:
%sql show tables

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
4 rows affected.

[('city',), ('country',), ('countrylanguage',), ('csv_test',)]

In [24]:
%%sql
    CREATE TABLE myisam_test (
        i int not null,
        c char(10) not null
    )
    ENGINE='MyISAM'

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
0 rows affected.

[]

#.check table name, engine name

In [27]:
%%sql
    SELECT
        table_schema,
        table_name,
        engine
    FROM information_schema.TABLES
    WHERE TABLE_SCHEMA='IBM_world'

   mysql+pymysql://root:***@localhost/
 * mysql+pymysql://root:***@localhost/IBM_world
5 rows affected.

[('ibm_world', 'city', 'InnoDB'),
 ('ibm_world', 'country', 'InnoDB'),
 ('ibm_world', 'countrylanguage', 'InnoDB'),
 ('ibm_world', 'csv_test', 'CSV'),
 ('ibm_world', 'myisam_test', 'MyISAM')]